.search-coupon-form {
    padding: $unit-xlg * 2.2;

    .replicate-coupons-img {
        object-fit: cover;
    }

    .form-content {
        margin-top: $unit-xlg * 2.6;

        .search-input {
            max-width: 502px;
            padding-inline-start: $unit * 5.25;
        }

        .search-btn {
            min-width: 95px;
        }
    }
}

.tabs-content {
    padding: $unit *4.5 $unit-xlg * 2.2 $unit-xlg *1.4;

    .nav-tabs {
        font-size: $fs-xxs;
        line-height: $lh-xs;

        .btn-action {
            padding: $sub-unit * 0.5 $sub-unit * 0.5 $sub-unit;
            width: 280px;

            .nav-link {
                padding-block: 1px;
                flex-basis: 50%;

                &.active {
                    font-family: $font-inter-semi-bold;
                    color: $slate-12;
                    border-radius: 6px;
                    background-color: $surface-white;
                    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06);
                }
            }
        }
    }

    .empty-search-result {
        margin-top: $unit-xlg * 3.5;
        padding-bottom: $unit-xlg * 5;

        .coupon-img {
            object-fit: cover;
        }
    }
}

.coupon-list-table {
    .coupon-table {
        &.fixed {
            td,
            th {
                &:nth-of-type(1) {
                    width: 15%;
                }

                &:nth-of-type(2) {
                    width: 12%;
                }

                &:nth-of-type(3) {
                    width: 12%;
                }

                &:nth-of-type(4) {
                    width: 12%;
                }

                &:nth-of-type(5) {
                    width: 10%;
                }

                &:nth-of-type(6) {
                    width: 10%;
                }
            }
        }
    }
}

.replicate-coupon-modal {
    .modal-body {
        .replicate-coupon-top-section {
            .coupon-info {
                margin-left: $unit * 3;
            }
        }

        .replicate-coupon-sites {
            margin-top: $unit-xlg * 2.4;
            border-bottom: 1px solid $slate-5;
        }

        .dropdown-check-list {
            .items {
                .site-name {
                    &.disable {
                        color: $slate-9;
                    }
                }

                .site-id.disable {
                    color: $slate-9;
                    pointer-events: none;
                }
            }
        }

        .action-buttons {
            border-top: 0.5px solid $slate-5;

            .replication-coupon {
                padding: $unit * 1.125 $unit * 3.5;
            }
        }
    }
}
