**/cartridge/static/**/*
coverage/
node_modules/
cartridges/bm_itg_extension/cartridge/scripts/jobsteps/exportPageDesigner.js
cartridges/bm_itg_extension/cartridge/scripts/helpers/xmlCsvConversionHelper.js
