.black {
    color: $black;
}

.surface-white {
    color: $surface-white;
}

.white {
    color: $white;
}

.slate-1 {
    color: $slate-1;
}

.slate-2 {
    color: $slate-2;
}

.slate-3 {
    color: $slate-3;
}

.slate-4 {
    color: $slate-4;
}

.slate-5 {
    color: $slate-5;
}

.slate-6 {
    color: $slate-6;
}

.slate-7 {
    color: $slate-7;
}

.slate-8 {
    color: $slate-8;
}

.slate-9 {
    color: $slate-9;
}

.slate-10 {
    color: $slate-10;
}

.slate-11 {
    color: $slate-11;
}

.slate-12 {
    color: $slate-12;
}

.blue-11 {
    color: $blue-11;
}

.violet-11 {
    color: $violet-11;
}

.mint-11 {
    color: $mint-11;
}

.yellow-11 {
    color: $yellow-11;
}

.green-11 {
    color: $green-11;
}

.orange-11 {
    color: $orange-11;
}

.bg-surface-white {
    background-color: $surface-white;
}

.bg-slate-2 {
    background-color: $slate-2;
}

.bg-slate-3 {
    background-color: $slate-3;
}

.bg-slate-4 {
    background-color: $slate-4;
}

.bg-green-9 {
    background-color: $green-9;
}
